.orderbook thead,
.orderbook tbody tr {
    display: table;
    width: 100%;
}

.orderbook tbody {
    display: block;
    /* Adjust this value as needed */
    max-height: 40vh;
    overflow-y: auto;
}


.orderbook th,
.orderbook td {
    padding: 0.5rem;
    /* Distribute column widths evenly */
    width: 33.33%;
}