<article>
    <details>
        <summary>
            <h3 style="display:inline-block;">{{title}}</h3>
            <div style="float: right;">
                <kbd id="mid_price-{{book_id}}">{{mid_price}}</kbd>
            </div>
            <br>
            <small id="volume-{{book_id}}">${{volume}} Bet</small>
        </summary>
        
        <table id="orderbook-{{book_id}}">
            <thead>
                <tr>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for ask in asks.iter().rev() %}
                <tr>
                    <td class="pico-color-red-350">{{ask.price}}</td>
                    <td>{{ask.quantity}}</td>
                    <td>${{ask.value}}</td>
                </tr>
                {% endfor %}
                {% for bid in bids %}
                <tr>
                    <td class="pico-color-green-350">{{bid.price}}</td>
                    <td>{{bid.quantity}}</td>
                    <td>${{bid.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        {{order_form|safe}}
    </details>
</article>