{% extends "base.html" %}

{% block content %}

<hgroup>
    <h1>{{event.title}}</h1>
    <p>Closes: {{expires_at}}</p>
</hgroup>

<p><mark><a>Politics</a></mark> <mark><a>Economics</a></mark> <mark><a>Culture</a></mark></p>

<hr>

<div hx-ext="ws" ws-connect="/orderbook?markets={{markets}}">
    {% for orderbook in orderbooks %}
    {{orderbook|safe}}
    {% endfor %}
</div>

{{event.description|markdown}}

<h1>Comments</h1>

<p>Comments coming soon...</p>

<script>
    document.body.addEventListener('htmx:beforeOnLoad', (evt) => {
        const id = evt.detail.target.id;
        const marketId = id.match(/(\d+)$/)[0];
        const orderbook = document.getElementById(`orderbook-${marketId}`);
        const tbody = orderbook.querySelector('tbody');
        const scrollPosition = tbody.scrollTop;

        localStorage.setItem(`scrollPosition-${marketId}`, scrollPosition);
    });

    document.body.addEventListener('htmx:afterSettle', (evt) => {
        const id = evt.detail.target.id;
        const marketId = id.match(/(\d+)$/)[0];
        const orderbook = document.getElementById(`orderbook-${marketId}`);
        const tbody = orderbook.querySelector('tbody');
        const scrollPosition = parseInt(localStorage.getItem(`scrollPosition-${marketId}`), 10);

        tbody.scrollTop = scrollPosition;
    });
</script>

{% endblock %}