<h1>Markets</h1>
<form role="search">
    <input name="search" type="search" placeholder="Search" />
    <input type="submit" value="Search" />
</form>

<article>
    <h3><a href="./market.html" class="secondary">Who will win the 2024 US election?</a></h3>
    <table>
        <tbody>
            <tr>
                <th scope="row">Donald Trump</th>
                <td>53.0</td>
                <td class="pico-color-green-350">+4.56%</td>
                <td>$234</td>
            </tr>
            <tr>
                <th scope="row">Joe Biden</th>
                <td>31.0</td>
                <td class="pico-color-red-350">-1.00%</td>
                <td>$10,321</td>
            </tr>
            <tr>
                <th scope="row">10 more...</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
    </table>
</article>

<article>
    <h3><a href="./market.html" class="secondary">Will Sweden join NATO?</a></h3>
    <table>
        <tbody>
            <tr>
                <th scope="row">Yes</th>
                <td>53.0</td>
                <td class="pico-color-green-350">+4.56%</td>
                <td>$234</td>
            </tr>
    </table>
</article>