{% extends "base.html" %}

{% block content %}

<h1>Events</h1>
<form role="search">
    <input name="search" type="search" placeholder="Search" />
    <input type="submit" value="Search" />
</form>


<details>
    <summary role="button" class="outline secondary">Filters</summary>
    <fieldset>
        <legend>Sort by</legend>
        <label>
            <input type="radio" name="language" checked />
            Volume
        </label>
        <label>
            <input type="radio" name="language" />
            Newest
        </label>
        <label>
            <input type="radio" name="language" />
            Volatility
        </label>
    </fieldset>
</details>

{% for (event, markets) in events %}

<article>
    <h3><a href="/events/{{event.slug}}">{{event.title}}</a></h3>
    <table>
        <tbody>
            {% for book in markets.iter().take(3) %}
            <tr>
                <td>{{book.title}}</td>
                <td style="display: flex; justify-content: flex-end">
                    {{book.display_price|safe}}
                </td>
            </tr>
            {% endfor %}
            {% if markets.len() > 3 %}
            <tr>
                <td colspan="2">
                    <a href="/events/{{event.slug}}">+ {{markets.len() - 3}} more</a>
                </td>
            </tr>
            {% endif %}
    </table>
</article>

{% endfor %}

{% endblock %}