{% extends "base.html" %}

{% block content %}

<h1>{{market.title}}</h1>

<p>Closes: {{expires_at}}</p>

<p><mark><a>Politics</a></mark> <mark><a>Economics</a></mark> <mark><a>Culture</a></mark></p>

<hr>

<div hx-ext="ws" ws-connect="/orderbook?books={{books}}">
    {% for (book_id, order_form) in orderbooks %}
    <article>
        <details>
            <div id="header-{{book_id}}"></div>
            <div id="orderbook-{{book_id}}"></div>
            {{order_form|safe}}
        </details>
    </article>
    {% endfor %}
</div>

{{market.description|markdown}}

<h1>Comments</h1>

<p>Comments coming soon...</p>

{% endblock %}