{% extends "base.html" %}

{% block content %}


<h1>{{market.title}}</h1>

Closes Nov 5, 2024

<hr>

{% for (book, order_form) in orderbooks %}

<article>
    <details>
        <summary>
            <div class="grid">
                <strong>{{book.title}}</strong>
                <div style="display: flex; justify-content: flex-end">
                    {% match book.last_trade_price %}
                    {% when Some with (val) %}
                    <kbd>{{val / 100}}.{{"{:0>2}"|format(val % 100)}}¢</kbd>&nbsp;
                    {% when None %}
                    <kbd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</kbd>
                    {% endmatch %}
                </div>
            </div>
            <small>$7,669,592 Bet</small>
        </summary>
        <div hx-ext="sse" sse-connect="/orderbook?book={{book.id}}" sse-swap="message"></div>
        {{order_form|safe}}
    </details>
</article>

{% endfor %}

{{market.description|markdown}}

{% endblock %}