<article>
    <h3><a href="./market.html" class="secondary">2024 Democratic VP Nominee</a></h3>
    <table>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{book.name}}</td>
                <td style="display: flex; justify-content: flex-end">
                    <kbd>{{book.last}}</kbd>&nbsp;<kbd class="pico-background-green-350">{{book.pct_change}}</kbd>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>8 more options...</td>
                <td></td>
            </tr>
    </table>
</article>