
<article>
<header><h3>Open positions</h3></header>
<div class="overflow-auto">
    <table>
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">Market</th>
                <th scope="col">Side</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Market value</th>
            </tr>
        </thead>
        <tbody>
            {% for position in positions %}
            <tr>
                <td>{{ position.event_title }}</td>
                <td>{{ position.market_title }}</td>
                <td>{{ position.side }}</td>
                <td>{{ position.position }}</td>
                <td>{{ position.last_price }}</td>
                <td>{{ position.market_value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</article>
