<h3>Open orders</h3>
<table>
    <thead>
        <tr>
            <th scope="col">Book</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        {% for order in orders %}
        <tr>
            <td>{{ order.book_id }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.is_buy }}</td>
            <td>{{ order.status }}</td>
            <td><a hx-delete="/orders/{{order.id}}">Cancel</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>